<div>
  <div dojoType="dijit.layout.ContentPane" id="titleBar"><h1>Search the Dojotoolkit documentation</h1></div>
  <div dojoType="dijit.layout.ContentPane" id="searchBar">
      <select dojoType="dijit.form.Select" dojoAttachPoint="versionSelect">
          <option value="1.6" selected>1.6</option>
          <option value="1.5">1.5</option>
          <option value="1.4">1.4</option>
      </select>
      <input dojoType="dijit.form.FilteringSelect" dojoAttachPoint="itemSelect" />
  </div>
  <div dojoType="dijit.layout.ContentPane">
    <div dojoType="ChromeDojoHelper.ClassDetail" dojoAttachPoint="classDetail"></div>
  </div>
</div>